<!DOCTYPE html>
<html>
<head>
  <%- include('controls/head') %>
  <link rel="stylesheet" type="text/css" href="<%= Source_css %>detail.css" media="screen">
</head>
<body>
  <!-- nav -->
  <%- include('controls/header') %>
  <div class='container'>
  <div class="wrapper">
  <%- include('controls/breadcrumbs') %>
    <!--main content -->
   <div class="main">
      
      <!-- article -->
      <div class="content">     
        <div class="section">
          <%- include('controls/article') %>       	
        </div>
      </div>
    </div>
    <!--
    <%- include('controls/aside') %>-->
 </div>   
  </div>
 <!-- footer --> 
 <%- include('controls/footer') %>
</body>
</html>