<!DOCTYPE html>
<html>
<head>
  <%- include('controls/head') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <!-- nav -->
  <%- include('controls/header') %>
  <div class='container'> 
  <div class="wrapper"> 
    <!--main content -->
    <div class="main"> 
    <%- include('controls/breadcrumbs') %>
         <!-- banner -->
      <!-- <div class="banner"> <span>Banner here</span></div>
      <!intro text 
      <div class="intro"><span>Welcome to the Spark prototyping site! You can find the latest prototypes and test resultes here. Get to know the team and the limitless future of Spark.</span>
      </div>-->
      <!--content blocks -->
      <div class="block-wrapper">
        <div class="block-l" style="background-image:url('<%= Source_img %>prototype.jpeg')"> <a href="./prototypes/index.html"><span>Prototypes</span></a></div>
        <div class="block-r" style="background-image:url('<%= Source_img %>research.jpg')"> <a href="./research/index.html"><span>Research</span></a></div>
      </div>
      <div class="block-wrapper">
        <div class="block-a" style="background-image:url('<%= Source_img %>team.jpg')"><a href="./team/index.html"><span>Team</span></a></div>
      </div>
    </div>
    
  </div>
  </div>
  <!-- footer -->
  </div>
<%- include('controls/footer') %>
</body>
</html>