<!DOCTYPE html>
<html>
  <head>
      <%- include('controls/head') %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
  <header class="header">
    <a href="<%= Source_nav %>index.html" class="logo"><img src="<%= Source_img %>logo.png"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <%- include('controls/header') %>
  </header>
        <div class='container'>
            <div class='main'>
             <%- include('controls/breadcrumbs') %>
             <!-- article list below -->
              <% for(var i in List){ %>
              <div class="articleBlock">
                <a class='list_item' target='_blank' href='<%= List[i].RenderData.NameHTML %>'>
                  <span class="list_title"><%= List[i].RenderData.Title %></span>
                  <!-- article thumbnail -->
                  <img src='<%= Source_img_atricle %><%= List[i].RenderData.Thumb %>'>
                </a>
                  <p><span class='list_item_date'><%= List[i].RenderData.Date %></span><br />
                  <%= List[i].RenderData.Desc %></p>  
              </div>  
                 <!-- <hr class="divider" />   -->
              <% } %> 
              <!-- end of list items -->    
              <div style="clear:both;"></div>          
              <div class='pagination'>
               Page <%- PageFirst %><%- PagePre %><%- PageGroup %><%- PageNext %><%- PageLast %>
              </div>    
            </div>
        </div>  
         <div style="clear:both;"></div>
      <%- include('controls/footer') %>
  </body>
</html>